{{/* vim: set filetype=mustache: */}}
{{/*
Expand the name of the chart.
*/}}




{{- define "backup-job-chart.osmSecret" -}}
{{- include "backup-job-chart.osmConfig" . | b64enc  | indent 4 -}}
{{- end -}}

